.menubar {
    border-radius: 8px 0px 0px 8px;
    background: var(--White, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(219, 219, 219, 0.50);
}
.cardmenu {
    border-radius: 12px;
    background: var(--White, #FFF);
    box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10);
}