.carddashboard {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 2px 2px 15px 0px rgba(70, 64, 67, 0.10);
}

.increase {
    border-radius: 7.181px;
    background: rgba(255, 149, 1, 0.15);
}

.decrease {
    border-radius: 7.181px;
    background: rgba(231, 63, 63, 0.15);
}